# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
/lib/generated/prisma

#otros
.DS_Store
.idea
.vscode
*.sublime-workspace
*.sublime-project
*.log
.env.local
*.psd
*.dng
*.zip
*.tar.gz
.pnpm-store/
.git/objects/
.sass-cache
.cache/
.cache-loader
dist/
*.local
*.swp
thumbs.db
/documentacion
